<html>
<head>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="https://use.fontawesome.com/d8b5485bc7.js"></script>

	<style type="text/css">
		.recording {
			background-color: red;
		}

		.partial {
			color: gray;
		}

		.band {
			padding-top: 16px;
			padding-bottom: 16px;
			background-color: rgba(255,255,255,0.5);
			width: 100%;
			border-style:none;
		}

		body {
			font-family: Sans-Serif;
			background-color: #d9d9d9;
			width:100%; 
			padding: 0; 
			margin: 100px 0;
		}
	</style>
</head>
<body>
	<% 
		let timeString = "a long time";  
		if(time == null){
			timeString = "no cards have been made"
		} else {
			const minutes = (time - new Date().getTime()) / (1000 * 60);
			const hours = (time - new Date().getTime()) / (1000 * 60 * 60);
			if(minutes < 60) {
				timeString = Math.round(minutes);
				if(timeString == 1) timeString += " minute";
				else timeString += " minutes";
			} else if(hours < 17) {
				timeString =  Math.round(hours);
				if(timeString == 1) timeString += " hour";
				else timeString += " hours";
			} else {
				timeString = Math.round(hours / 24);
				if(timeString == 1) timeString += " day";
				else timeString += " days";
			}
		}


		let dayStart = new Date();
		dayStart.setHours(0,0,0,0);

		let dayEnd = new Date();
		dayEnd.setHours(23,59,59,999);

		let createdToday = 0;
		for(let id in facts){
			const created = facts[id].created;
			if(created >= dayStart && created <= dayEnd){
				createdToday++;
			}
		}
	%>
	<div class="band" style="text-align:center; font-size: 2rem">
		Next review in about <%= timeString %> (<%= next24hourReviews %> in the next day)
		<div style="font-size: 1.5rem">
		<br>
		<br>
		<%= cards %> total cards added (<%= createdToday %> today)<br>
		<br>
		<%= new Date() %>
		</div>
	</div>
</body>
</html>